<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloud-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{171,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,76}}</string>
                <key>sourceSize</key>
                <string>{171,76}</string>
            </dict>
            <key>cloud-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{171,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,76}}</string>
                <key>sourceSize</key>
                <string>{171,76}</string>
            </dict>
            <key>cloud-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{252,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,117}}</string>
                <key>sourceSize</key>
                <string>{252,117}</string>
            </dict>
            <key>desk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,415},{612,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,119}}</string>
                <key>sourceSize</key>
                <string>{612,119}</string>
            </dict>
            <key>dg-1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,681},{27,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,93}}</string>
                <key>sourceSize</key>
                <string>{27,93}</string>
            </dict>
            <key>dg-1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,599},{27,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,93}}</string>
                <key>sourceSize</key>
                <string>{27,93}</string>
            </dict>
            <key>dg-2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,586},{27,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,93}}</string>
                <key>sourceSize</key>
                <string>{27,93}</string>
            </dict>
            <key>dg-2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,504},{27,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,93}}</string>
                <key>sourceSize</key>
                <string>{27,93}</string>
            </dict>
            <key>dg-3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,491},{27,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,93}}</string>
                <key>sourceSize</key>
                <string>{27,93}</string>
            </dict>
            <key>dg-3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,409},{27,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,93}}</string>
                <key>sourceSize</key>
                <string>{27,93}</string>
            </dict>
            <key>dg-4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,396},{27,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,93}}</string>
                <key>sourceSize</key>
                <string>{27,93}</string>
            </dict>
            <key>dg-4-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,314},{27,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,93}}</string>
                <key>sourceSize</key>
                <string>{27,93}</string>
            </dict>
            <key>dg-5-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,301},{27,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,93}}</string>
                <key>sourceSize</key>
                <string>{27,93}</string>
            </dict>
            <key>dg-5-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,206},{27,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,93}}</string>
                <key>sourceSize</key>
                <string>{27,93}</string>
            </dict>
            <key>dg-6-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,2},{43,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,111}}</string>
                <key>sourceSize</key>
                <string>{43,111}</string>
            </dict>
            <key>dg-7-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,115},{41,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,89}}</string>
                <key>sourceSize</key>
                <string>{41,89}</string>
            </dict>
            <key>dg-8-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,206},{27,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,106}}</string>
                <key>sourceSize</key>
                <string>{27,106}</string>
            </dict>
            <key>ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,411}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,411}}</string>
                <key>sourceSize</key>
                <string>{640,411}</string>
            </dict>
            <key>hill.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{640,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,314}}</string>
                <key>sourceSize</key>
                <string>{640,314}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f9dc760a0ef64925fc0ba8442226b20:b577afeb255ac9dde8ad7fb1cea730b1:122cdc737ae26602f9e68413c7384dd5$</string>
            <key>textureFileName</key>
            <string>scene1.png</string>
        </dict>
    </dict>
</plist>
