<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>about-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,849},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>about-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,738},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>aboutus-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,837},{310,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,101}}</string>
                <key>sourceSize</key>
                <string>{310,101}</string>
            </dict>
            <key>aboutus-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,748},{310,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,101}}</string>
                <key>sourceSize</key>
                <string>{310,101}</string>
            </dict>
            <key>bestcn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{269,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,55}}</string>
                <key>sourceSize</key>
                <string>{269,55}</string>
            </dict>
            <key>energy-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{24,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,406}}</string>
                <key>sourceSize</key>
                <string>{24,406}</string>
            </dict>
            <key>energy-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{18,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,400}}</string>
                <key>sourceSize</key>
                <string>{18,400}</string>
            </dict>
            <key>feedback-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,734},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>feedback-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,722},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{408,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,399}}</string>
                <key>sourceSize</key>
                <string>{408,399}</string>
            </dict>
            <key>main-bao-quan-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,403},{218,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,77}}</string>
                <key>sourceSize</key>
                <string>{218,77}</string>
            </dict>
            <key>menu-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{330,379}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,379}}</string>
                <key>sourceSize</key>
                <string>{330,379}</string>
            </dict>
            <key>num-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{508,59}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{508,59}}</string>
                <key>sourceSize</key>
                <string>{520,67}</string>
            </dict>
            <key>pause-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,63},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>pause-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,338},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>restart-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,645},{310,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,101}}</string>
                <key>sourceSize</key>
                <string>{310,101}</string>
            </dict>
            <key>restart-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,542},{310,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,101}}</string>
                <key>sourceSize</key>
                <string>{310,101}</string>
            </dict>
            <key>resume-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,623},{310,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,101}}</string>
                <key>sourceSize</key>
                <string>{310,101}</string>
            </dict>
            <key>resume-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,422},{310,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,101}}</string>
                <key>sourceSize</key>
                <string>{310,101}</string>
            </dict>
            <key>shop-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,623},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>sl-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,607},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>sl-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,492},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>sound-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,254},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>sound-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,170},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>sound-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,86},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>sound-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>start-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,403},{332,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,137}}</string>
                <key>sourceSize</key>
                <string>{332,137}</string>
            </dict>
            <key>start-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,441},{332,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,137}}</string>
                <key>sourceSize</key>
                <string>{332,137}</string>
            </dict>
            <key>stop-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,377},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>xl-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,262},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>xl-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,147},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7cc01fe337fd0f3c1e9bfc5d5b211b93:74d20a8cbaa7292725d844f049a9e004:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
